*{margin: 0; padding: 0;}
li{list-style: none;}
a{text-decoration: none; color: #333;}
body{color: #333; font-family: 'Nanum Gothic', sans-serif;}


@media(min-width:1200px){
/* ----------------- header ----------------- */
#header{width: 1100px; margin: 50px auto 30px;}
#header h1{text-align: center; margin-bottom: 50px;}
#header ul:after{clear: both; content: ''; display: block;}
#header li{float: left; margin-right: 86px;}
#header .no_m{margin-right: 0;}
#header li a:hover{color: #c93;}
#header .menu{display: none;}
#header .close{display: none;}


/* ----------------- footer ----------------- */
#footer{width: 1100px; margin: 0 auto;}
#footer .menu{text-align: center; border-bottom: 5px solid #333; margin-bottom: 20px;}

#footer p{width: 600px; font-size: 12px; line-height: 20px; float: left; margin-bottom: 20px;}
#footer p .co_r{color: #f00;}
#footer p .co_g{color: #aaa; letter-spacing: 3px;}

#footer .etc{width: 500px; float: left;}
#footer .etc .wa{float: left; margin-right: 20px;}
#footer .etc ul li{float: left; font-size: 14px; margin-right: 6px;}
#footer .etc ul .no_m{margin-right: 0;}
#footer .etc .foot{margin-top: 20px}

}




@media(max-width:1199px){
/* ----------------- header ----------------- */
#header{width: 90%; margin: 30px auto;}
#header::after{clear: both; content: ''; display: block;}
#header h1{float: left;}
#header ul{
    width: 100%;  background: #fff; 
    position: absolute; top: 110px; left: 0; z-index: 2;
    display: none;
}
#header ul li{
    text-align: center; line-height: 60px;
    border-bottom: 1px solid #eee; box-sizing: border-box;
}
#header ul li:hover{background: orange;} 
#header ul li:hover a{color: #fff;} 

#header .menu{float: right; margin-top: -10px; z-index: 3;}
#header .close{float: right; margin-top: -10px; display: none; z-index: 3;}

/* ----------------- footer ----------------- */
#footer{width: 90%; margin: 0 auto;}
#footer .menu{display: none;}

#footer p{font-size: 12px; line-height: 20px; margin-bottom: 30px;}
#footer p .co_r{color: #f00;}
#footer p .co_g{color: #aaa; letter-spacing: 3px;}

#footer .etc{position: relative;}
#footer .etc .wa{margin-right: 15%; width: 15%; float: left;}
#footer .etc ul li{display: none;}
#footer .etc .btn{width: 70%; float: left; margin-top: 7%;}
#footer .etc .btn img{float: left; width: 34%; margin-right: 5%;}



}    