:root {
  font-size: 62.5%;
  --font: "Pretendard", sans-serif;
  --font-title: "MontserratB", sans-serif;
  --button-color:#FC5B54;
  --point-color:#FFCB47;
  --navy-color:#28284f;
  --white-color: #fff;
  --background-color: #1B1B1B;
  --text-color: #FFFFFF;
  --text-gray-color: #909090;
  --border-gray-color: #b5b5b5;
}

html {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--background-color);
  scroll-behavior: smooth;
  word-break: keep-all;
}