@charset "UTF-8";
main {
  margin-top: 10rem;
}

.main-img {
  padding-bottom: 15rem;
}
.main-img .swiper-wrapper {
  overflow: hidden;
}
.main-img .swiper-wrapper .swiper-slide {
  width: 120rem;
}
.main-img .swiper-wrapper .swiper-slide img {
  width: 100%;
}

/* 슬라이드 타이틀 */
.slider .slide_tit {
  display: flex;
}

.slider .slide_tit > li {
  width: 25%;
  padding: 4rem 2rem;
  opacity: 0.7;
  background: var(--background-color);
  color: var(--font-color);
  height: auto;
}
.slider .slide_tit > li h4 {
  font-size: 2.4rem;
  font-weight: 600;
}
.slider .slide_tit > li p {
  font-size: 1.8rem;
  margin-top: 1rem;
}
.slider .slide_tit > li .bar {
  margin-top: 2rem;
  width: 0%;
  height: 0.6rem;
  background: var(--point-color);
  display: block;
  transition: width 1.5s;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  height: auto;
}

.slider .slide_tit > li.swiper-pagination-bullet-active {
  background: var(--background-color);
  color: var(--font-color);
  opacity: 1;
}
.slider .slide_tit > li.swiper-pagination-bullet-active .bar {
  width: 100%;
}

.intro {
  padding: 15rem 0;
}
.intro img {
  width: 40rem;
  margin: 0 auto;
}
.intro .text-box {
  padding-top: 10rem;
  display: flex;
  justify-content: space-between;
}
.intro .text-box p {
  width: 49%;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.gallery {
  padding: 15rem 0;
  overflow: hidden;
  margin: 0 auto;
  max-width: 192rem;
}
.gallery .rolling {
  height: 8rem;
  max-width: 192rem;
  margin: 0 auto;
  background: url("../../images/roll.png") no-repeat center;
  background-size: cover;
}
.gallery ul {
  margin: 2rem 0;
}
.gallery ul li {
  width: 3120px;
  display: flex;
  justify-content: center;
}
.gallery ul li .rolling-list {
  justify-content: center;
  display: flex;
}
.gallery ul li .rolling-list div {
  width: 50rem;
  height: 34rem;
  margin: 0 1rem;
}
@keyframes rollingL {
  0% {
    transform: translate(50%, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes rollingR {
  0% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(50%, 0);
  }
}
.gallery ul .rollingL {
  animation: rollingL 20s linear infinite;
}
.gallery ul .rollingR {
  animation: rollingR 20s linear infinite;
  margin: 2rem 0;
}
.gallery ul .film-img1 {
  background: url("../../images/img1.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img2 {
  background: url("../../images/img2.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img3 {
  background: url("../../images/img3.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img4 {
  background: url("../../images/img4.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img5 {
  background: url("../../images/img5.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img6 {
  background: url("../../images/img6.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img7 {
  background: url("../../images/img7.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img8 {
  background: url("../../images/img8.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img9 {
  background: url("../../images/img9.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img10 {
  background: url("../../images/img10.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img11 {
  background: url("../../images/img11.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img12 {
  background: url("../../images/img12.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img13 {
  background: url("../../images/img13.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img14 {
  background: url("../../images/img14.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img15 {
  background: url("../../images/img15.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img16 {
  background: url("../../images/img16.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img17 {
  background: url("../../images/img17.jpg") no-repeat center;
  background-size: cover;
}
.gallery ul .film-img18 {
  background: url("../../images/img18.jpg") no-repeat center;
  background-size: cover;
}
.gallery .more-btn {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}
.gallery .more-btn a {
  font-size: 2rem;
  padding: 1.4rem 3rem;
}