@charset 'UTF-8';
@font-face {
    font-family: 'KoPubDotum';
    src: url('../font/KoPubDotum_Pro_Medium.otf'),format('e')
}

/* 설정 */
.password{
    height: 760px;
    position: relative;
}
.password .wrap{
    position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    
}
.password li{
    background-color: #222; text-align: center;
    height: 66px;line-height: 66px; font-size: 14px;
    border-bottom: 2px solid #000;
}
.password li span{
    display: inline-block; background-color: #333;
    width: 180px;
}
.password li input{
    width: 280px; height: 30px; margin: 0 30px;
    font-size: 12px; box-sizing: border-box; color: #333;
}
input::placeholder {color: #666;}

.password .btn{text-align: center; margin-top: 100px;}
.password button{
    background-color: #4AD3FF; color: #000; border: 0; width: 100px; height: 40px;
    font-size: 14px; font-weight: bold; text-align: center;
}
p{
    position: absolute; font-size: 14px; display: none;
    left: 50%; transform: translateX(-50%); bottom: 80px;
}
